<article class="card">
  <header class="card__header">
    {{#if name}}
    <h1>{{name}}</h1>
    {{/if}}
    {{#if title}}
    <h1>{{title}}</h1>
    {{/if}}
    <small>{{registrationNumber}}</small>
  </header>

  <div class="card__details">
     <h2>Actieve Ingredient(en)</h2>
    {{#if activeIngredient}}
      <span>{{activeIngredient}}</span>
      {{else}}
      <span>Geen actieve ingrediënten gevonden</span>
    {{/if}}
  </div>
</article>
